# DSCI 552 Homework 3

Name: Ziyue Chen

Github Username: zic115

USC ID: 8823457220

# 1. Time Series Classification Part 1: Feature Creation/Extraction

In [1]:
# Import packages
import pandas as pd
import numpy as np
from scipy.stats import bootstrap

## 1. (b) Generate train and test data

In [2]:
# Generate file paths
folders = {'bending1': 7,
           'bending2': 6,
           'cycling': 15,
           'lying': 15,
           'sitting': 15,
           'standing': 15,
           'walking': 15}

paths = []
for folder in folders:
    for file in range(1, folders[folder] + 1):
        path = '../data/AReM/' + folder + '/dataset' + str(file) + '.csv'
        paths.append(path)

In [3]:
# Split train and test paths
test_paths = ['../data/AReM/bending1/dataset1.csv',
              '../data/AReM/bending1/dataset2.csv',
              '../data/AReM/bending2/dataset1.csv',
              '../data/AReM/bending2/dataset2.csv',
              '../data/AReM/cycling/dataset1.csv',
              '../data/AReM/cycling/dataset2.csv',
              '../data/AReM/cycling/dataset3.csv',
              '../data/AReM/lying/dataset1.csv',
              '../data/AReM/lying/dataset2.csv',
              '../data/AReM/lying/dataset3.csv',
              '../data/AReM/sitting/dataset1.csv',
              '../data/AReM/sitting/dataset2.csv',
              '../data/AReM/sitting/dataset3.csv',
              '../data/AReM/standing/dataset1.csv',
              '../data/AReM/standing/dataset2.csv',
              '../data/AReM/standing/dataset3.csv',
              '../data/AReM/walking/dataset1.csv',
              '../data/AReM/walking/dataset2.csv',
              '../data/AReM/walking/dataset3.csv']

train_paths = []
for i in range(len(paths)):
    if paths[i] not in test_paths:
        train_paths.append(paths[i])

In [4]:
# Generate test set
test = None
for path in test_paths:
    df = pd.read_csv(path, skiprows = 4)
    test = pd.concat([test, df])
    
test

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,39.25,0.43,22.75,0.43,33.75,1.30
1,250,39.25,0.43,23.00,0.00,33.00,0.00
2,500,39.25,0.43,23.25,0.43,33.00,0.00
3,750,39.50,0.50,23.00,0.71,33.00,0.00
4,1000,39.50,0.50,24.00,0.00,33.00,0.00
...,...,...,...,...,...,...,...
475,118750,36.00,2.45,17.00,5.10,20.50,0.87
476,119000,34.33,1.89,15.00,2.45,17.00,2.12
477,119250,33.00,7.35,14.60,3.14,13.00,5.70
478,119500,31.67,1.25,11.00,6.16,19.25,2.17
479,119750,30.75,10.21,11.75,1.09,18.50,3.20

In [5]:
# Generate train set
train = None
for path in train_paths:
    df = pd.read_csv(path, skiprows = 4)
    train = pd.concat([train, df])
    
train

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,42.00,0.71,21.25,0.43,30.00,0.00
1,250,41.50,0.50,20.25,1.48,31.25,1.09
2,500,41.50,0.50,14.25,1.92,33.00,0.00
3,750,40.75,0.83,15.75,0.43,33.00,0.00
4,1000,40.00,0.71,20.00,2.74,32.75,0.43
...,...,...,...,...,...,...,...
475,118750,34.50,6.18,9.00,3.56,12.67,4.19
476,119000,25.75,6.02,13.75,2.05,16.00,1.58
477,119250,31.50,3.35,10.25,5.12,16.25,2.95
478,119500,33.75,2.77,14.00,3.24,13.75,0.43
479,119750,37.00,1.41,18.25,3.70,11.00,4.32

## 1. (c) Feature Extraction

### 1. (c) i. Time-domain features that are usually used in time series classification

Some common features are minimum, maximum, mean, standard deviation, and skewness.

### 1. (c) ii. Extract the time-domain features for all of the 6 time series in each instance

In [6]:
# Define a function for extraction
def extractFeatures(df, instance):
    data = {'Instance': [instance]}
    time_series = ['avg_rss12', 'var_rss12', 'avg_rss13', 'var_rss13', 'avg_rss23', 'var_rss23']
    
    for i in range(1, 7):
        curr = time_series[i - 1]
        minimum = df[curr].min()
        maximum = df[curr].max()
        mean = df[curr].mean()
        median = df[curr].median()
        std = df[curr].std()
        q1 = df[curr].quantile(0.25)
        q3 = df[curr].quantile(0.75)
        
        curr_data = {'Min_' + str(i): [minimum],
                     'Max_' + str(i): [maximum],
                     'Mean_' + str(i): [mean],
                     'Median_' + str(i): [median],
                     'Std_' + str(i): [std],
                     'Q1_' + str(i): [q1],
                     'Q3_' + str(i): [q3]}
        data = data | curr_data

    stats = pd.DataFrame(data)
    return stats

In [7]:
# Extract features from each instance
res = None
for i in range(len(paths)):
    df = pd.read_csv(paths[i], skiprows = 4)
    stats = extractFeatures(df, i + 1)
    res = pd.concat([res, stats])

res.reset_index(drop = True)

,Instance,Min_1,Max_1,Mean_1,Median_1,Std_1,Q1_1,Q3_1,Min_2,Max_2,...,Std_5,Q1_5,Q3_5,Min_6,Max_6,Mean_6,Median_6,Std_6,Q1_6,Q3_6
0,1,37.25,45.00,40.624792,40.50,1.476967,39.25,42.0000,0.0,1.30,...,2.188449,33.0000,36.00,0.00,1.92,0.570583,0.43,0.582915,0.0000,1.3000
1,2,38.00,45.67,42.812812,42.50,1.435550,42.00,43.6700,0.0,1.22,...,1.995255,32.0000,34.50,0.00,3.11,0.571083,0.43,0.601010,0.0000,1.3000
2,3,35.00,47.40,43.954500,44.33,1.558835,43.00,45.0000,0.0,1.70,...,1.999604,35.3625,36.50,0.00,1.79,0.493292,0.43,0.513506,0.0000,0.9400
3,4,33.00,47.75,42.179813,43.50,3.670666,39.15,45.0000,0.0,3.00,...,3.849448,30.4575,36.33,0.00,2.18,0.613521,0.50,0.524317,0.0000,1.0000
4,5,33.00,45.75,41.678063,41.75,2.243490,41.33,42.7500,0.0,2.83,...,2.411026,28.4575,31.25,0.00,1.79,0.383292,0.43,0.389164,0.0000,0.5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,84,19.50,45.33,33.586875,34.25,4.650935,30.25,37.0000,0.0,14.67,...,3.283983,13.7300,18.25,0.00,8.32,3.259729,3.11,1.640243,2.0500,4.3225
84,85,19.75,45.50,34.322750,35.25,4.752477,31.00,38.0000,0.0,13.47,...,3.119856,13.5000,17.75,0.00,9.67,3.432562,3.20,1.732727,2.1575,4.5650
85,86,19.50,46.00,34.546229,35.25,4.842294,31.25,37.8125,0.0,12.47,...,2.823124,14.0000,17.75,0.00,10.00,3.338125,3.08,1.656742,2.1600,4.3350
86,87,23.50,46.25,34.873229,35.25,4.531720,31.75,38.2500,0.0,14.82,...,3.131076,13.7500,18.00,0.00,9.51,3.424646,3.27,1.690960,2.1700,4.5000
87,88,19.25,44.00,34.473188,35.00,4.796705,31.25,38.0000,0.0,13.86,...,3.156320,13.7300,17.75,0.43,9.00,3.340458,3.09,1.699114,2.1200,4.3750

### 1. (c) iii. Standard deviation of each of the time-domain features

In [8]:
# Calculate the standard deviations
columns = list(res.columns[1:])
stds = None
for col in columns:
    std = res[col].std()
    stats = pd.DataFrame({'Std': [std]}).rename(index = {0: col})
    stds = pd.concat([stds, stats])

stds

               Std
Min_1     9.569975
Max_1     4.394362
Mean_1    5.335718
Median_1  5.440054
Std_1     1.772153
Q1_1      6.153590
Q3_1      5.138925
Min_2     0.000000
Max_2     5.062729
Mean_2    1.574164
Median_2  1.412244
Std_2     0.884105
Q1_2      0.946386
Q3_2      2.125266
Min_3     2.956462
Max_3     4.875137
Mean_3    4.008380
Median_3  4.036396
Std_3     0.946710
Q1_3      4.220658
Q3_3      4.171628
Min_4     0.000000
Max_4     2.183625
Mean_4    1.166114
Median_4  1.145586
Std_4     0.458242
Q1_4      0.843620
Q3_4      1.552504
Min_5     6.124001
Max_5     5.741238
Mean_5    5.675593
Median_5  5.813782
Std_5     1.024898
Q1_5      6.096465
Q3_5      5.531720
Min_6     0.045838
Max_6     2.518921
Mean_6    1.154812
Median_6  1.086474
Std_6     0.517617
Q1_6      0.758584
Q3_6      1.523599

In [9]:
# Build a 90% bootsrap confidence interval for the standard deviation of each feature
for col in columns:
    data = (res[col], )
    CI = bootstrap(data, np.std, confidence_level = 0.9, method = 'basic')
    print(col + ':', CI.confidence_interval)

Min_1: ConfidenceInterval(low=8.317757466966233, high=10.803458960577851)
Max_1: ConfidenceInterval(low=3.469887616876262, high=5.42131669684364)
Mean_1: ConfidenceInterval(low=4.762942424502183, high=5.930040175935286)
Median_1: ConfidenceInterval(low=4.845509250824837, high=6.05575974770719)
Std_1: ConfidenceInterval(low=1.583366867213806, high=1.960794158610693)
Q1_1: ConfidenceInterval(low=5.62938451222044, high=6.701244814210267)
Q3_1: ConfidenceInterval(low=4.406043529692806, high=5.912123545454313)
Min_2: ConfidenceInterval(low=0.0, high=0.0)
Max_2: ConfidenceInterval(low=4.694418341425292, high=5.471413953643337)
Mean_2: ConfidenceInterval(low=1.4324113704886692, high=1.7420753462056862)
Median_2: ConfidenceInterval(low=1.271462191903364, high=1.5775879660625682)
Std_2: ConfidenceInterval(low=0.8218376528572937, high=0.960402643886519)
Q1_2: ConfidenceInterval(low=0.8510793470361333, high=1.0556753933746519)
Q3_2: ConfidenceInterval(low=1.9452733935721263, high=2.3388643683379144)
Min_3: ConfidenceInterval(low=2.788057354915959, high=3.1371666176392425)
Max_3: ConfidenceInterval(low=4.2564242227638305, high=5.5540140092563455)
Mean_3: ConfidenceInterval(low=3.496537568414115, high=4.577610805759566)
Median_3: ConfidenceInterval(low=3.51513352663007, high=4.618433958700427)
Std_3: ConfidenceInterval(low=0.7670499363683179, high=1.1269968322644344)
Q1_3: ConfidenceInterval(low=3.716039768127059, high=4.791209386579004)
Q3_3: ConfidenceInterval(low=3.62429592182421, high=4.770522580346194)
Min_4: ConfidenceInterval(low=0.0, high=0.0)
Max_4: ConfidenceInterval(low=1.9957308943711833, high=2.378529777629155)
Mean_4: ConfidenceInterval(low=1.1029203192426824, high=1.2459767157695105)
Median_4: ConfidenceInterval(low=1.0834906228621728, high=1.2275531734082674)
Std_4: ConfidenceInterval(low=0.4282840400927939, high=0.49244908590295294)
Q1_4: ConfidenceInterval(low=0.7921945938055495, high=0.909338203859502)
Q3_4: ConfidenceInterval(low=1.4689548790250955, high=1.6612361359539838)
Min_5: ConfidenceInterval(low=4.717629083500433, high=7.7697872387686955)
Max_5: ConfidenceInterval(low=4.886564702638684, high=6.69000375987412)
Mean_5: ConfidenceInterval(low=4.622682871753889, high=6.863904219036002)
Median_5: ConfidenceInterval(low=4.658693890877447, high=7.072955329181873)
Std_5: ConfidenceInterval(low=0.8293931512045578, high=1.2307074960985016)
Q1_5: ConfidenceInterval(low=4.958318591784307, high=7.371729791475445)
Q3_5: ConfidenceInterval(low=4.521976500393063, high=6.672489242638982)
Min_6: ConfidenceInterval(low=0.013124961748951336, high=0.09115393165518615)
Max_6: ConfidenceInterval(low=2.2634417044124553, high=2.772843104790515)
Mean_6: ConfidenceInterval(low=1.0881664322171947, high=1.2410723803220882)
Median_6: ConfidenceInterval(low=1.0191798723854455, high=1.1704638789168595)
Std_6: ConfidenceInterval(low=0.48701872226898546, high=0.5534022246600971)
Q1_6: ConfidenceInterval(low=0.7048962789315206, high=0.8204116205199186)
Q3_6: ConfidenceInterval(low=1.4394462426694492, high=1.6357325088358314)

### 1. (c) iv. Select the three most important time-domain features

Three most important time-domain features can be 1st quartile, median, and 3rd quartile.

# 2.